:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
}




//Primary

$cyan: hsl(179, 62%, 43%);
$bright-Yellow: hsl(71, 73%, 54%);

//Neutral

$light-Gray: hsl(204, 43%, 93%);
$grayish-Blue: hsl(218, 22%, 67%);